/*en el body puedes modificar el color de fondo, letra etc.*/
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}
/*en el contenedor verde*/
.container {
    background-color: #bae7e15b;
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/*tag h1 en este caso "VENTA DE PASAJES"*/
h1 {
    text-align: center;
    color: #333;
}

.form-group {
    margin-left: 5%;
    margin-bottom: 15px;
    max-width: 350px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

select, input[type="date"], input[type="number"],input[type="text"], button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    background-color: #28a745;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

#asientos-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;

}

.asiento {
    position: relative;
    background-color: #007e73;
    color: #fff;
    text-align: center;
    left: 15px;
    top: 75px;
    width: 30px;
    height: 15px;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.asiento.selected {
    background-color: #ffc107;
}
/*.asiento2 {
    position: relative;
    background-color: #254b74;
    color: #fff;
    left: 30px;
    top: 150px;
    text-align: center;
    width: 50px;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
}

.asiento2.selected {
    background-color: #ffc107;
}*/
#bus {
    border-radius: 50px;
    background-color: #d1d8df;
    height: 600px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
}
/*#imagenbus {
    position: relative;
    left: 400px;
    bottom: 500px;
    width: 300px;
}*/

